
BackEnd/ChatApi/ChatApi/appsettings.json
BackEnd/ChatApi/.vs/ChatApi/DesignTimeBuild/.dtbcache.v2
BackEnd/ChatApi/.vs/ChatApi/DesignTimeBuild/.dtbcache.v2
BackEnd/ChatApi/.vs/ChatApi/FileContentIndex/67ec0b31-47c2-4b19-99e8-264c9afed2fa.vsidx
BackEnd/ChatApi/.vs/ChatApi/FileContentIndex/6b3d0a5a-84b1-477b-8d6e-c855d64d182a.vsidx
BackEnd/ChatApi/.vs/ChatApi/FileContentIndex/c6c2d822-2c5e-43f2-8ce6-2742bc2064d1.vsidx
BackEnd/ChatApi/.vs/ChatApi/FileContentIndex/e69613d6-dc55-4eb8-8b3a-32d54f60443f.vsidx
BackEnd/ChatApi/.vs/ChatApi/v17/.suo
BackEnd/ChatApi/.vs/ChatApi/v17/DocumentLayout.json
BackEnd/ChatApi/.vs/ProjectEvaluation/chatapi.metadata.v7.bin
BackEnd/ChatApi/.vs/ProjectEvaluation/chatapi.projects.v7.bin
BackEnd/ChatApi/ChatApi/obj/ChatApi.csproj.nuget.dgspec.json
BackEnd/ChatApi/ChatApi/obj/ChatApi.csproj.nuget.g.props
BackEnd/ChatApi/ChatApi/obj/Debug/net8.0/ChatApi.AssemblyInfo.cs
BackEnd/ChatApi/ChatApi/obj/Debug/net8.0/ChatApi.AssemblyInfoInputs.cache
BackEnd/ChatApi/ChatApi/obj/project.assets.json
BackEnd/ChatApi/ChatApi/obj/project.nuget.cache
BackEnd/ChatApi/.vs/ChatApi/FileContentIndex/17f93dd7-9ef5-4511-9276-08269b02b8d6.vsidx
BackEnd/ChatApi/.vs/ChatApi/FileContentIndex/8c4c4dd6-c42a-494c-b70c-2c5c3285d40b.vsidx
BackEnd/ChatApi/.vs/ChatApi/FileContentIndex/b490b0f3-1e67-4020-9a7e-15d482cd2399.vsidx
BackEnd/ChatApi/ChatApi/obj/ChatApi.csproj.nuget.g.props
BackEnd/ChatApi/ChatApi/obj/Debug/net8.0/ChatApi.AssemblyInfo.cs
BackEnd/ChatApi/ChatApi/obj/Debug/net8.0/ChatApi.AssemblyInfoInputs.cache
BackEnd/ChatApi/ChatApi/obj/project.nuget.cache
BackEnd/ChatApi/ChatApi/obj/project.assets.json
BackEnd/ChatApi/ChatApi/obj/Debug/net8.0/ChatApi.GeneratedMSBuildEditorConfig.editorconfig
BackEnd/ChatApi/ChatApi/obj/Debug/net8.0/ChatApi.csproj.AssemblyReference.cache
BackEnd/ChatApi/ChatApi/obj/Debug/net8.0/ChatApi.assets.cache
BackEnd/ChatApi/ChatApi/obj/Debug/net8.0/ChatApi.AssemblyInfoInputs.cache
BackEnd/ChatApi/ChatApi/obj/Debug/net8.0/ChatApi.AssemblyInfo.cs
BackEnd/ChatApi/ChatApi/obj/ChatApi.csproj.nuget.g.props
BackEnd/ChatApi/ChatApi/obj/ChatApi.csproj.nuget.dgspec.json
BackEnd/ChatApi/.vs/ChatApi/v17/.suo
BackEnd/ChatApi/.vs/ChatApi/FileContentIndex/8c4c4dd6-c42a-494c-b70c-2c5c3285d40b.vsidx
