<form style="width: 22rem">
  <div data-mdb-input-init class="form-outline mb-4 mt-5">
    <input
      type="text"
      id="form5Example1"
      class="form-control pt-4 text-white"
      name="username"
      [(ngModel)]="username"
    />
    <label class="form-label text-white" for="form5Example1">Name</label>
  </div>

  <div data-mdb-input-init class="form-outline mb-4">
    <input
      [(ngModel)]="password"
      name="password"
      type="password"
      id="form5Example2"
      class="form-control pt-4 text-white"
    />
    <label class="form-label text-white" for="form5Example2">Password</label>
  </div>

  <div class="form-check d-flex justify-content-center mb-4">
    <input
      class="form-check-input me-2"
      type="checkbox"
      value=""
      id="form5Example3"
      checked
    />
    <label class="form-check-label text-white" for="form5Example3">
      I have read and agree to the terms
    </label>
  </div>

  <button
    (click)="registrazione()"
    data-mdb-ripple-init
    type="button"
    class="btn btn-primary btn-block mb-4"
  >
    Subscribe
  </button>
</form>
