<form class="mt-5 border border-light rounded p-3" name="registrati">
  <h2 class="text-center text-light my-2"></h2>
  <div data-mdb-input-init class="form-outline border-bottom border-light mb-4">
    <input
      type="text"
      id="form5Example1"
      class="form-control pt-4 text-white"
      name="username"
      [(ngModel)]="username"
    />
    <label class="form-label text-white" for="form5Example1">Name</label>
  </div>

  <div data-mdb-input-init class="form-outline border-bottom border-light mb-4">
    <input
      [(ngModel)]="password"
      name="password"
      type="password"
      id="form5Example2"
      class="form-control pt-4 text-white"
    />
    <label class="form-label text-white" for="form5Example2">Password</label>
  </div>

  <div class="form-check d-flex justify-content-center mb-4">
    <input
      [(ngModel)]="agree"
      class="form-check-input me-2"
      type="checkbox"
      value=""
      id="form5Example3"
      name="agree"
    />
    <label class="form-check-label text-white" for="form5Example3">
      I have read and agree to the terms
    </label>
  </div>

  <button
    [ngClass]="
      agree
        ? 'btn btn-primary btn-block mb-4'
        : 'btn btn-primary btn-block mb-4 disabled '
    "
    (click)="registrazione()"
    data-mdb-ripple-init
    type="button"
  >
    Subscribe
  </button>
</form>
