<form class="mt-5 border border-light rounded p-3" name="registrati">
  <h2 class="text-center text-light my-2">Registrati</h2>
  <div data-mdb-input-init class="form-outline mb-4 mt-5">
    <input
      type="text"
      id="form5Example1"
      class="form-control pt-4 text-white border-bottom border-light"
      name="username"
      [(ngModel)]="username"
    />
    <label class="form-label text-white" for="form5Example1">Name</label>
  </div>

  <div data-mdb-input-init class="form-outline mb-4">
    <input
      [(ngModel)]="password"
      name="password"
      type="password"
      id="form5Example2"
      class="form-control pt-4 text-white border-bottom border-light"
    />
    <label class="form-label text-white" for="form5Example2">Password</label>
  </div>

  <div class="form-check d-flex justify-content-center mb-4">
    <input
      [(ngModel)]="agree"
      class="form-check-input me-2"
      type="checkbox"
      name="agree"
      value=""
      id="form5Example3"
    />
    <label class="form-check-label text-white" for="form5Example3">
      I have read and agree to the terms
    </label>
  </div>

  <button
    (click)="registrazione()"
    data-mdb-ripple-init
    type="button"
    [ngClass]="agree? 'btn btn-primary btn-block mb-4': 'btn btn-primary btn-block mb-4 disabled'"
  >
    Subscribe
  </button>
</form>
