<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card p-3 py-4 glass">
        <div class="text-center">
          <img
            (click)="show()"
            [src]="'./assets/profileImgs/' + user?.pi"

            loading="eager"
            class="rounded-circle mr-1"
            alt="Chris Wood"
            width="100"
            height="100"
          />
        </div>

        <div class="text-center mt-3">
          <span class="bg-secondary p-1 px-4 rounded text-white">User</span>
          <h5 class="mt-2 mb-0">{{ user?.us }}</h5>
          <!--          <h5 class="mt-2 mb-0">{{user?.us}}</h5>-->
        <div class="d-flex flex-column align-items-center gap-2" *ngIf="showOpts">
            <form class="form-check form-check-inline d-flex flex-row align-items-center " [(ngModel)]="img" name="selezionaImg" ngDefaultControl>
              <img src="./assets/profileImgs/smile.svg" class="d-block" width="80px">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="smile.svg" />
              <img src="./assets/profileImgs/femaleOne.svg" class="d-block" width="80px">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="femaleOne.svg" />
              <img src="./assets/profileImgs/femaleTwo.svg" class="d-block" width="80px">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="femaleTwo.svg" />
              <img src="./assets/profileImgs/maleOne.svg" class="d-block" width="80px">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="maleOne.svg" />
              <img src="./assets/profileImgs/maleTwo.svg" class="d-block" width="80px">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="maleTwo.svg" />
              <img src="./assets/profileImgs/monkey.svg" class="d-block" width="80px">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="monkey.svg" />
            </form>
          <div>
            <button class="btn btn-success" (click)="changeImg()">Salva</button>
          </div>
        </div>


          <div class="buttons mt-2">
            <a class="btn btn-info" href="/createNewRoom">Crea Stanza</a>
            <button class="btn btn-danger px-4 ms-3" (click)="LogOut()">
              LogOut
            </button>
          </div>
          <div class="card-body">
            <div *ngFor="let chat of user?.myChats" class="border rounded-1 d-flex align-items-center justify-content-start my-3">
              <div class="mx-lg-5">
              <img src="assets/icon.svg" height="150" width="150">
              </div>
              <a
                href="/chat/{{ chat.idc }}"
                class="text-decoration-none text-reset"
              >
                <p class="fw-bold">{{ chat.roN }}</p>
                <p>{{ chat.des }}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
