<div class="container bootstrap snippets bootdey mt-5" *ngIf="chat">
  <div class="row">
    <div class="tile tile-alt" id="messages-main">
      <div class="ms-menu">
        <div class="list-group lg-alt">
          <h2 class="text-center mt-3">Utenti</h2>
          <div
            class="list-group-item media"
            href=""
            *ngFor="let user of chat.use"
          >
            <div class="media-body">
              <div class="list-group-item-heading text-center fs-5">
                {{ user }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ms-body">
        <div class="action-header clearfix">
          <div class="visible-xs" id="ms-menu-trigger">
            <i class="fa fa-bars"></i>
          </div>
          <div
            class="d-flex flex-column justify-content-center align-items-center"
          >
            <h2>{{ chat.roN }}</h2>
            <h3>{{ chat.des }}</h3>
          </div>
          <ul class="ah-actions actions">
            <li>
              <i
                *ngIf="chat.roN != 'Master Room'"
                (click)="addtrigger()"
                class="fa fa-plus"
              ></i>
            </li>
          </ul>
        </div>
        <div *ngIf="showOptions">
          <app-add-user-to-chat></app-add-user-to-chat>
        </div>

        <div
          [ngClass]="
            currentUser == message.sen
              ? 'message-feed right'
              : 'message-feed media'
          "
          class="message-feed media"
          *ngFor="let message of chat.messages"
        >
          <div
            [ngClass]="currentUser == message.sen ? 'pull-right' : 'pull-left'"
          >
            <img
              src="./assets/profileImgs/{{ message.img }}"
              alt=""
              class="img-avatar"
            />
            <span class="fw-bold mx-1">{{ message.sen }}</span>
          </div>
          <div class="media-body">
            <div class="mf-content rounded">
              {{ message.tex }}
            </div>

            <i
              *ngIf="currentUser == message.sen"
              (click)="delete(message.idM!)"
              class="fa fa-trash comparsa ms-2"
              aria-hidden="true"
            ></i>

            <small class="mf-date"
              ><i class="fa fa-clock-o"></i>
              {{ message.dat | date : "dd/MM/yyyy" }}</small
            >
          </div>
        </div>

        <div class="msb-reply">
          <app-sendmessagge></app-sendmessagge>
        </div>
      </div>
    </div>
  </div>
</div>
